body {
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
}

.container {
  width: 75%;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #343a40;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.edit-btn {
  background-color: #ffc107;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn {
  background-color: #dc3545;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.edit-btn:hover {
  background-color: #e0a800;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* Edit Form */
.edit-box {
  margin-top: 25px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 6px;
}

.edit-box input {
  width: 30%;
  padding: 8px;
  margin: 5px;
}


.save-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}
